
label.label {
    color: $cyan-color;
    font-family: $Overpass-Mono;
    font-size: 105%;

    @media(max-width: $breakpoint-s) {
        font-size: 90%;
    }
}

input[type=text].input {
    background: $red-color;
    border: none;
    color: $cream-color;
    font-weight: bold;
}

input[type=text].input:hover {
    color: $cream-color;
}

input[type=text].input:active, 
input[type=text].input:hover, 
input[type=text].input:focus {
    border: none;
    outline: none;
}


aside.form-content {
    width: 65%;
    margin: 0 auto;
    padding: 3rem;
    color: lighten($gray-color, 40%);
    font-weight: lighter;
    background:  darken($gray-color, 14%);
}