
section.show {
    margin: 0 auto;
    padding-top: 1rem;
    overflow: hidden;
    color: lighten($gray-color, 40%);
    font-weight: lighter;

    strong {
        color: $cyan-color;
        text-transform: uppercase;
        font-family: $Overpass-Mono;
    }

}

article.page-entry {
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;

    @media (max-width: $breakpoint-m) {
        flex-flow: nowrap column;
    }
}

article.delete-entry {
    width: 75%;
    margin: 0 auto;
    text-align: center;

    p .button {
        margin-right: 1em;
    }
}

aside.img-section {
    padding: 1rem;

    img {
        max-width: 75%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: .50em solid $red-color;
        @extend %transitions;

        @media (max-width: $breakpoint-m)  {
            max-width: 35%;
        }
    }

    img:hover {
        border: .50em solid $cyan-color;
        transform: scale(1.03);
    }
}


aside.img-data {
    padding: .5rem;

    p {
        padding: .5rem;

        @media (max-width: $breakpoint-m)  {
            text-align: center;
        }  
    }
}

p.control a {
    margin-right: 1em;
}