
////////////////////////
// COLORS
////////////////////////
$white-color: #ffffff;
$red-color: #FC6767;
$hotred-color: #ff0340;
$gray-color: #333333;
$cyan-color: #0ce5e1;
$cream-color: #f2eaec;


////////////////////////
// FONTS
////////////////////////
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

$Overpass-Mono: 'Overpass Mono', arial, sans-serif;
$Work-Sans : 'Work Sans', helvetica, arial, sans-serif;


////////////////////////
// EXTENTIONS
////////////////////////
%transitions {
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
}

////////////////////////
// MEDIA QUERIES
////////////////////////
$breakpoint-xs: 750px;
$breakpoint-s: 900px;
$breakpoint-m: 1000px;
$breakpoint-l: 1300px;