@import "../root";
@import "./style/animation";


aside.logo {
    background: rgba(255, 255, 255, 0);
    width: 25%;  
    color: $gray-color;
    display: inline-block;
    font-size: 100%;
    cursor: crosshair;
    cursor: url("./images/cursor-black.png"), auto;
    position: absolute;
    z-index: 2;
    text-align: left;
    top: 7em;
    left: 0;
    @extend %transitions;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 

    @media(max-width: $breakpoint-l) {
        font-size: 80%;
        top: 8em;
    }

    @media(max-width: $breakpoint-m) {
        font-size: 75%;
        top: 9em;
    }

    @media(max-width: $breakpoint-s) {
        display: none;
        postion: static;
    }

    h2, h3 {
        margin-bottom: 1%;
        color: lighten($gray-color, 15%);
    }

    h2 {
        font-size: 150%;
        text-transform: uppercase;
        font-weight: bold;

        @media(max-width: $breakpoint-s) {
            font-size: 400%;
        }

        @media(max-width: $breakpoint-xs) {
            font-size: 300%;
        }
    }

    h3{
        font-size: 100%;

        @media(max-width: $breakpoint-s) {
            font-size: 150%;
            margin-bottom: 2%;
        }

        @media(max-width: $breakpoint-xs) {
            font-size: 120%;
            margin-bottom: 2%;
        }
    }

    h1 {
        width: 25%;
        color: darken($hotred-color, 10%);
        margin-left: 0;
        word-spacing: -20px;
        line-height: 1em;
        text-shadow: 
         lighten($red-color, 3%) 0px 0px 5px,   
         lighten($red-color, 5%) 0px 0px 10px,   
         lighten($red-color, 10%) 0px 0px 15px,   
         lighten($red-color, 15%) 0px 0px 20px;
        font-size: 5em;
        text-transform: uppercase;
        opacity: 1;
        @extend %transitions;

        @media(max-width: $breakpoint-l) {
            margin-left: 10px;
            width: 100%;
        }

        @media(max-width: $breakpoint-s) {
            font-size: 3rem;
            margin-bottom: .15em
        }


        @media(max-width: $breakpoint-xs) {
            font-size: 2rem;
            margin-bottom: .25em;
        }
    }

}


aside.logo:hover {
    opacity: .5; 
    transform: scale(.95);  
}
