aside.tags {
    margin: 0 auto;
    margin-top: 2em;
    padding: 0;
    text-align: center;
    background: darken($gray-color,15%);
    width: 75%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;


    a.btn-filter {
        background: darken($gray-color,15%);
        border: 0;
        font-family: $Overpass-Mono;
        color: $red-color;
        cursor: pointer;
        padding: .15rem .55rem;
        margin: .25em;
        font-size: 80%;
        font-weight: bolder;
        @extend %transitions;

        @media(max-width: $breakpoint-s) {
            padding: .05rem .55rem;
            margin: .15em;
            font-size: 80%;
        }
    
    }

    a.btn-filter:hover {
        background: $cyan-color;
        color: $white-color;
    }
}