@import "../root";

.projects {
    overflow: auto;
    background: darken($gray-color,15%);


    @media(max-width: $breakpoint-s) {
    }
    aside.prj-entry {
        font-size: 130%;
        width: 75%;
        margin: 2em auto;
        padding: 1.25rem;
        display: flex;
        flex-flow: nowrap row;
        background: darken($gray-color, 13%);
        box-shadow:
        darken($gray-color, 12%) 0px 0px 5px; 
        @extend %transitions;

        @media(max-width: $breakpoint-m) {
            width: 85%;
            padding: .75rem;
            font-size: 100%;
        }

        @media(max-width: $breakpoint-s) {
            width: 90%;
            padding: .5rem;
            flex-flow: nowrap column;
            margin: 1.5em auto;
            font-size: 95%;
        }

        @media(max-width: $breakpoint-xs) {
            padding: .25rem;
            font-size: 75%;
        }

        .prj-info {
            width: 100%;
            font-weight: lighter;
            color: lighten($gray-color, 60%);
            margin-left: 1em;
            padding: 1rem;
            text-align: center;

            h2.prj-title {
                font-size: 175%;
                text-transform: lowercase;
                font-weight: lighter;
                color: $cyan-color;
            }
        }

    }
}

.prj-img {
    filter: grayscale(50%);
    @extend %transitions;
}

aside.prj-entry:hover .prj-img {
    filter: grayscale(0%);
}

aside.prj-entry:hover {
    transform: scale(1.2);
    background: darken($gray-color, 11%);
}

span.prj-links  {
    display: block;
    margin: 1%;
    color: $red-color;

    
    a {
        color: $red-color;
        padding-right: .01%;
        padding-right: 3%;
    }

    a:hover {
        color: lighten($red-color, 10%);
    }
}
