@import "../root";



section.contact {
    color: lighten($gray-color, 60%);
    font-size: 100%;
    padding-top: 4rem;

    @media(max-width: $breakpoint-s) {
        font-size: 95%;
    }

    @media(max-width: $breakpoint-xs) {
        font-size: 75%;
    }
}

.pg {
    color: $cyan-color;
    font-size: 300%;

    @media(max-width: $breakpoint-s) {
        font-size: 250%;
        margin: .25em;
    }
}

aside.contact-data {
    background:  darken($gray-color, 13%);
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow:
    darken($gray-color, 12%) 0px 0px 5px; 

    @media (max-width: $breakpoint-m) {
        width: 85%;
        padding: 1rem;
    }

    @media (max-width: $breakpoint-s) {
        width: 90%;
        padding: .5rem;
    }

    a {
        color: $red-color;
    }
    
    a:hover {
        color: $cyan-color;
    }

    strong {
        font-weight: bold;
        color: $cyan-color;
    }
}

aside.contact-data p {
    margin: 1em;
    font-size: 140%;
    line-height: 2em;
    letter-spacing: .02em;

    @media (max-width: $breakpoint-m) {
        font-size: 120%;
    }

}

.s-media {
    width: 100%;
    display: block;
    font-size: 300%;
    color: $red-color;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;


    span {
        display: block;
        @extend %transitions;

        a {
            color: $red-color;
        }

        a:hover {
            color: $cyan-color;
        }
    }

    span:hover {
        transform: scale(1.5) rotate(180deg);
    }
}

h3.sm {
    font-size: 150%;
    border-left: 1em solid $cyan-color;
    padding-left: 1rem;
    color: $cyan-color;
}