@import "../root";



section.about {
    color: lighten($gray-color, 60%);
    font-size: 100%;
    padding-top: 2rem;

    @media(max-width: $breakpoint-s) {
        font-size: 95%;
    }

    @media(max-width: $breakpoint-xs) {
        font-size: 75%;
    }
}

.pg {
    color: $cyan-color;
    font-size: 300%;

    @media(max-width: $breakpoint-s) {
        font-size: 250%;
        margin: .25em;
    }
}

span {
    display: block;
    font-size: 175%;
    padding-left: 1rem;
    @extend %transitions;

    a {
        color: $red-color;
    }

    a:hover {
        color: $cyan-color;
    }
}

aside.about-data {
    background:  darken($gray-color, 13%);
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow:
    darken($gray-color, 12%) 0px 0px 5px; 

    @media (max-width: $breakpoint-m) {
        width: 85%;
        padding: 1rem;
    }

    @media (max-width: $breakpoint-s) {
        width: 90%;
        padding: .5rem;
    }

    a {
        color: $red-color;
    }
    
    a:hover {
        color: $cyan-color;
    }

    strong {
        font-weight: bold;
        color: $cyan-color;
    }

    img {
        float: left;
        max-width: 15%;
        height: auto;
        margin: 0 .5em .25em 0;
        border: .15em solid $cyan-color;
    }
}

aside.about-data p {
    margin: 1em;
    font-size: 140%;
    line-height: 2em;
    letter-spacing: .02em;

    @media (max-width: $breakpoint-m) {
        font-size: 120%;
    }

}
