@import "../root";

  canvas.hero {
    background: $white-color url("./images/color-b.png")center center no-repeat;
    background-size: cover;
    cursor: crosshair;
    cursor: url("./images/cursor-pink.png"), auto;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }