* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.hero {
  background: url("https://i.imgur.com/H6U5nBp.jpg")center center no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}