@import "./style/bulma.scss";
@import "./style/variables.scss";

body, html {
    width: 100vw;
    height: 100vh;
    font-size: $Work-Sans;
    background: darken($gray-color,15%);

}

a {
    font-family: $Overpass-Mono;
    @extend %transitions;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $Overpass-Mono;
    font-weight: 700;
}

section {
    background: darken($gray-color,15%);
}